apiVersion: v1
kind: Secret
metadata:
  name: banking-app-secrets
  namespace: banking-dev
data:
  # Values are base64-encoded. To encode: echo -n "myvalue" | base64
  DATABASE_URL: cG9zdGdyZXM6Ly9wb3N0Z3Jlczpwb3N0Z3Jlc0Bwb3N0Z3Jlcy5iYW5raW5nLWRldi5zdmMuY2x1c3Rlci5sb2NhbDo1NDMyL2Jhbmtpbmc=
  # postgres://postgres:postgres@postgres.banking-dev.svc.cluster.local:5432/banking
  READ_DATABASE_URL: cG9zdGdyZXM6Ly9wb3N0Z3Jlczpwb3N0Z3Jlc0Bwb3N0Z3Jlcy1yZWFkLmJhbmtpbmctZGV2LnN2Yy5jbHVzdGVyLmxvY2FsOjU0MzIvYmFua2luZ19yZWFk
  # postgres://postgres:postgres@postgres-read.banking-dev.svc.cluster.local:5432/banking_read
